body {
    background-image:url("img/background.jpg");
    background-color: #1A1A1A;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

nav {
    background-color: #1A1A1A;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
}

nav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    font-size: 1em;
    height: 100%;
}

nav a.shop {
  float: right;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.welcome {
    display: inline-block;
    padding: 120px 100px;
}

.store {
  padding: 120px 100px;
  max-width: 1100px;
}

#maincontainer {
  margin-top:150px;
  display: flex;
  max-width: 1500px;
  justify-content: center;
}

#leftside-main {
    margin-right: 20px;
    max-width: 500px;
    padding: 20px;
    position: relative;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, 0.400);
}

#stafsback {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.400);
  padding: 20px;  
}

#player {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.400);
  height: 90px;
}

.welcome2 {
  display: inline-block;
  margin-top: 150px;
  margin-left: 5%;
  padding: 20px;
  float: left;  
  position: relative;
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.400);
  width: 20%;
}

.selfie {
    max-width:80%;
}

.preview {
	margin: 5px;
	display: inline-block;
	width: 300px;
	border: 2px groove #ccc;
	padding: 2px;
}

div.preview img {
	height: auto;
	width: 100%;
}

.wrapper {
  text-align: center;
}

button {
  border: none;
  background-color: #717171;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}