body {
    background-image:url("img/background.jpg");
    background-color: #1A1A1A;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

nav {
    background-color: #1A1A1A;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

nav a {
    float: left;
    color: #ddd;
    text-align: center;
    padding: 38px 35px;
    text-decoration: none;
    font-size: 1em;
    height: 100%;
}

nav a.shop {
  float: right;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.art-container {
    display: flex;
    flex-wrap: wrap;
}

.writeup {
  max-width: 800px;
  margin-bottom: 30px;
}

.maincontainer {
  margin-top:175px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.maincontainer2 {
  padding: 120px 100px;
}

#leftside-main {
  margin-right: 40px;
  max-width: 500px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.400);
  flex: 50%;
}

#rightside-main {
  flex: 50%;
  max-width: 550px;
}


#stafsback {
  background-color: rgba(0, 0, 0, 0.400);
  padding: 25px;  
}

#player {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.400);
  height: 90px;
}

.preview {
	margin: 15px;
	width: 300px;
	border: 2px groove #ccc;
	padding: 2px;
}

div.preview img {
	height: auto;
	width: 100%;
}

.wrapper {
  text-align: center;
}

button {
  border: none;
  background-color: #717171;
  color: #ffffff;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 810px) {
  #leftside-main {
    margin-right: 0px;
    margin-bottom: 25px;
    flex: 100%;
    background-color:rgba(0, 0, 0, 0);
  }

  #rightside-main {
    flex: 100%;
  }

  #stafsback {
    background-color:rgba(0, 0, 0, 0);
  }

  #stafsbackPic {
    width: 100%;
  }

  .art-container {
    justify-content: center;
  }

  .maincontainer2 {
    padding: 0px;
    margin-top: 110px;
  }

  .maincontainer {
    margin-top: 110px;
  }

  nav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: unset;
    float: none;
  }

  nav a.shop {
    float: none;
  }

  nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  nav {
    width: auto;
  }
}